@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  width: 100%;
  display: block;
  border: 2px solid #FFFFFF;
  min-height: 81px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 1000px;
  text-transform: uppercase;
  overflow: hidden;
  font-family: Product Sans;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #0005;
  font-family: 'Product Sans';
  position: relative;
}

button h4 {
  width: 100%;
  height: 50px;
}

button img {
  display: block;
  width: 100%;
}

button:before {
  content: '';
  width: 100%;
  background: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

button:hover,
button.active {
  color: #000;
  z-index: 5;
}

button:hover:before,
button.active:before {
  left: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button:hover h4,
button.active h4 {
  top: 0%;
  bottom: 0%;
}

li::marker {
  font-size: 0;
}

.main-block {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #eeeded62;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-block .price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  height: 100vh;
  border: 2px solid #fff;
  padding: 10px;
}

.main-block .price h2 {
  font-family: Product Sans;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.main-block .price .type {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.main-block .price .type .var {
  font-weight: bold;
}

.main-block .price .type input {
  border: 1px solid #000;
  font-weight: bold;
  background: none;
  font-size: 1em;
  max-width: 50px;
  outline: none;
}

.main-block .price #mainPrice {
  text-align: right;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  white-space: nowrap;
  color: #000000;
}

.main-block .result {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-top: 100%;
  width: 100%;
  position: relative;
}

.main-block .result .bracelet {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
}

.main-block .result .fish {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
}

.main-block .variation {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  height: 100vh;
  border: 2px solid #fff;
}

.main-block .variation ul, .main-block .variation li {
  padding: 0;
  margin: 0;
}

.main-block .modal {
  position: fixed;
  z-index: 1000;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  height: 100vh;
  width: 40%;
  right: -100%;
  background: #EEEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block .modal .items {
  overflow-y: auto;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.main-block .modal .close {
  width: 40px;
  height: 40px;
  background: #C0C0C0;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  left: -40px;
}

.main-block .modal .close span {
  height: 2px;
  width: 40px;
  position: absolute;
  top: 17px;
  background: rgba(0, 0, 0, 0.5);
}

.main-block .modal .close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-block .modal .close span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-block .modal .close:hover {
  background: #999898;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.main-block .modal .close:hover span {
  background: black;
}

.main-block .modal.active {
  right: 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.fonMain {
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: .7s;
  transition: .7s;
  z-index: 10;
}

.fonMain.active {
  height: 500vh;
  width: 100%;
  background: rgba(244, 242, 242, 0.5);
}

@media (max-device-width: 770px) {
  .main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  .main-block .price > .fon {
    opacity: 0.5;
  }
  .main-block .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    position: absolute;
    top: -270px;
    -webkit-transition: .5s;
    transition: .5s;
    background: #f4f2f2;
    height: 280px;
    border: 2px solid #fff;
    border-bottom: 10px solid #a0a0a0;
    z-index: 500;
  }
  .main-block .price .fon {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    z-index: -1;
  }
  .main-block .price.active {
    top: 0;
  }
  .main-block .price.active .fon {
    position: absolute;
    height: 500vh;
    width: 100%;
    background: rgba(244, 242, 242, 0.2);
  }
  .main-block .price .styleBraceletH2 {
    font-size: 24px;
  }
  .main-block .price p {
    font-size: 14px;
    line-height: 10px;
    margin: 2px;
  }
  .main-block .price > * {
    width: 100%;
  }
  .main-block .price p, .main-block .price h2 {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 10px;
  }
  .main-block .price #mainPrice {
    cursor: pointer;
    height: 60px;
    display: inline-block;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    text-align: center;
    padding: 10px;
    padding-top: 24px;
    margin: 0;
    position: absolute;
    bottom: -69px;
    border-radius: 0px 0px 30px 30px;
    right: 10px;
    background: #a0a0a0;
  }
  .main-block .result {
    position: relative;
    top: 15%;
    width: 50%;
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
    height: 50%;
  }
  .main-block .variation {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: auto;
    z-index: 10000;
  }
  .main-block .variation ul {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 100px 100px;
        grid-template-rows: 100px 100px;
  }
  .main-block .modal {
    width: 100%;
    height: 15vh;
    top: auto;
    bottom: 202px;
    right: -200%;
  }
  .main-block .modal .close {
    left: 0;
    top: -40px;
  }
  .main-block .modal .items {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-block .modal .items > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .main-block .modal .items button > h4 {
    font-size: 14px;
  }
  button {
    width: 100%;
    display: block;
    border: 2px solid #FFFFFF;
    min-height: 81px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    max-height: 1000px;
    text-transform: uppercase;
    overflow: hidden;
    font-family: Product Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #0005;
    font-family: 'Product Sans';
    position: relative;
    z-index: 5;
  }
  button h4 {
    width: 100%;
    height: 50px;
    position: absolute;
    top: -200%;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0%;
    overflow: hidden;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    bottom: 0%;
  }
  button img {
    display: block;
    width: 100%;
  }
  button:before {
    content: '';
    width: 100%;
    background: #fff;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: -1;
  }
  button:before {
    left: 0%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  button h4 {
    top: 0%;
    bottom: 0%;
  }
  button:hover,
  button.active {
    color: #000;
    z-index: 5;
  }
  button:hover:before,
  button.active:before {
    left: 0%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  button:hover h4,
  button.active h4 {
    top: 0%;
    bottom: 0%;
  }
}

@media (max-device-width: 500px) {
  .main-block .modal {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */